.navbar{
    height: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: aliceblue;
    font-size: 1rem;
    color: #003580;
    border-radius: 15px;
  }

  .navButton:hover{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border: solid 1px aliceblue;
    background-color: #0071c2;
    font-size: 1rem;
    color: aliceblue;
    border-radius: 15px;
  }